*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    pointer-events: none;
}

.blue{
    stroke: blue;
    stroke-width: 1px;
    fill: none;
}

.orange{
    stroke: orange;
    stroke-width: 1px;
    fill:none;
}

.blue.active{
    fill: blue;
}

.orange.active{
    fill: orange;
}